#div_check_reg, #div_absent_app, #div_notregged, #div_past_reg, #div_documentation, #div_mail {
    display: none;
}

.btn-primary {
    background-color: #003e74;
    border-color: #003e74;
}

footer {
    background-color: #003e74;
    color: #ffffff;
}