#div_check_reg, #div_absent_app {
    display: none;
}

.noregdiv {
    /* these are the divs that show when "not registered" is selected in q1 - #div_reg_app, #div_past_reg, #div_documentation, #div_mail */
    display: none;
}

.btn-primary {
    background-color: #003e74;
    border-color: #003e74;
}

footer {
    background-color: #003e74;
    color: #ffffff;
}