#div_check_reg, #div_absent_app {
    display: none;
}

.noregdiv {
    /* these are the divs that show when "not registered" is selected in q1 - #div_reg_app, #div_past_reg, #div_documentation, #div_mail */
    display: none;
}

.instructiondiv {
    background-color: #c9ebf2;
}

.btn-primary {
    background-color: #003e74;
    border-color: #003e74;
}

footer, header {
    background-color: #003e74;
    color: #ffffff;
}

h1 {
    /* henry ford formatting */
    font-variant: small-caps;
    font-family: 'dk_formosaregular', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1em;
}

@font-face {
    font-family: 'dk_formosaregular';
    src: url('font/dk_formosa-webfont.woff2') format('woff2'),
         url('font/dk_formosa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}